# General Python
*.pyc
__pycache__/
**/__pycache__/

# VSCode
.vscode/
**/.vscode/

# Vagrant
.vagrant/

# OS generated
.DS_Store
Thumbs.db

# Build artifacts
build/
*.o
*.obj
*.elf
*.bin
*.hex
*.exe

# Packet captures and logs
*.pcap
*.log