# General Python
*.pyc
**/__pycache__/

# VSCode
**/.vscode/

# Vagrant
**/.vagrant/

# OS generated
**/.DS_Store
**/Thumbs.db

# Build artifacts
build/
*.o
*.obj
*.elf
*.bin
*.hex
*.exe

# Packet captures and logs
**/*.pcap
**/*.log