# General Python
*.pyc
__pycache__/

# VSCode
.vscode/

# Vagrant
.vagrant/

# OS generated
.DS_Store
Thumbs.db

# Build artifacts
build/
*.o
*.obj
*.elf
*.bin
*.hex
*.exe

# Packet captures and logs
*.pcap
*.log
*.txt

# Ignore screenshots
*.png

# Ignore all in lab5/__pycache__
lab5/__pycache__/

# Ignore all in lab4/__pycache__
lab4/__pycache__/
